<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>aws-snapshot</id>
			<username>XXX Access key ID XXX</username>
			<password>xxxxxxxxxx Secret access key xxxxxxxxxx</password>
		</server>
		<server>
			<id>aws-release</id>
			<username>XXX Access key ID XXX</username>
			<password>xxxxxxxxxx Secret access key xxxxxxxxxx</password>
		</server>
	</servers>

</settings>