<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>aws-snapshot</id>
			<username>AKIAI542BWRU5FGDLJLQ</username>
			<password>/imlOK2JoSLKA/DSWk3ipCZvNfrkjPEUexr9Y/Lg</password>
		</server>
		<server>
			<id>aws-release</id>
			<username>AKIAI542BWRU5FGDLJLQ</username>
			<password>/imlOK2JoSLKA/DSWk3ipCZvNfrkjPEUexr9Y/Lg</password>
		</server>
	</servers>

</settings>